* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* // reusable classes // */

.barlow-font-600 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.barlow-font-800 {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
}

.fraunces-font-700 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.fraunces-font-900 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

/* // primary // */
.dark-desaturated-cyan {
  color: hsl(167, 40%, 24%);
}

.soft-red {
  color: hsl(7, 99%, 70%);
}

.yellow {
  color: hsl(51, 100%, 49%);
}

.dark-blue {
  color: hsl(198, 62%, 26%);
}

.dark-moderate-cyan {
  color: hsl(168, 34%, 41%);
}

.white {
  color: white;
}

.hidden {
  display: none;
}

/* // neutral // */
.very-dark-desaturated-blue {
  color: hsl(212, 27%, 19%);
}

.very-dark-grayish-blue {
  color: hsl(213, 9%, 39%);
}

.dark-grayish-blue {
  color: hsl(232, 10%, 55%);
}

.grayish-blue {
  color: hsl(210, 4%, 67%);
}

/* // styling begins // */

body {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.picture-of-orange {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  background: url(/Sunnyside-Agency/images/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-area {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
}

.sunnyside-header {
  font-size: 1.5rem;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  /* display: none; */
}

.hamburger-menu-button {
  width: 1.5rem;
  height: 1rem;
  background: none;
  border: none;
}

.hamburger-menu-icon {
  width: 100%;
  height: 100%;
}

.nav-links {
  display: none;
}

.creatives-area {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* // come back to this // */
  display: none;
}

.creatives-text {
  height: 30%;
  text-align: center;
  font-size: 2.25rem;
  letter-spacing: 0.75rem;
  color: white;
}

.creatives-button-area {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.arrow-down {
  border: none;
  background: none;
}

/* // popup menu styling // */
.popup-menu-area {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-menu {
  width: 80%;
  height: 90%;
  margin-top: 40px;
  background: white;
}

.nav-links-mobile {
  width: 100%;
  height: 100%;
}

.nav-links-mobile ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.nav-links-mobile ul li a {
  text-decoration: none;
  font-size: 1.25rem;
}

/* // small devices (landscape phones) // */
@media (min-width: 567.98px) {
  .picture-of-orange {
    height: 100vh;
    background-position: 25% 65%;
  }

  .nav-area {
    height: 25%;
  }

  .sunnyside-header {
    margin-left: 50px;
  }

  .button-area {
    margin-right: 50px;
  }

  .hamburger-menu-button {
    width: 2rem;
    height: 1.25rem;
    background: none;
    border: none;
  }
}

/* // medium devices (tablets) // */
@media (min-width: 767.98px) {
  .picture-of-orange {
    height: 60vh;
  }

  .sunnyside-header {
    font-size: 2rem;
  }

  .hamburger-menu-button {
    width: 2.5rem;
    height: 1.5rem;
  }

  .creatives-text {
    font-size: 3.5rem;
    letter-spacing: 1.5rem;
  }
}

/* // large devices (laptops, desktops) // */
@media (min-width: 991.98px) {
  .picture-of-orange {
    background: url(/Sunnyside-Agency/images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .button-area {
    display: none;
  }

  /* // when nav links first appear // */
  .nav-links {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    height: 100%;
    width: 60%;
  }

  .nav-links ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
  }

  .nav-links ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 20%;
    height: 100%;
  }

  .nav-links ul li a {
    text-decoration: none;
  }

  .nav-links ul li:hover {
    background: #6ecffe;
    color: white;
    transition: all 0.2s ease;
  }

  .contact {
    background-color: white;
  }

  .contact-link {
    color: black;
  }

  /* .nav-links ul li a:hover {
    transition: color 0.2s ease;
  } */
}

/* // extra large devices (desktops) // */
@media (min-width: 1199.98px) {
  .nav-links {
    font-size: 1.25rem;
    width: 40%;
  }
}

/* // special screen styles // */

/* // larger landscape devices (orientation: landscape makes it so the styles only apply if the width is greater than the height) // */
@media (min-device-width: 800px) and (max-device-width: 915.98px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .picture-of-orange {
    height: 100vh;
  }

  .sunnyside-header {
    font-size: 1.75rem;
  }

  .hamburger-menu-button {
    width: 2rem;
    height: 1.25rem;
  }

  .creatives-text {
    font-size: 2.25rem;
  }
}

/* // really small devices (portrait mode) // */
@media (width: 320px) and (orientation: portrait) {
  .creatives-text {
    font-size: 2rem;
  }

  .creatives-button-area {
    padding-top: 30px;
  }
}
