* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* // reusable classes // */

.span-font-change {
  font-size: 1.25rem;
}

.barlow-font-400 {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.barlow-font-600 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.barlow-font-800 {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
}

.fraunces-font-700 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.fraunces-font-900 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

/* // primary // */
.dark-desaturated-cyan {
  color: hsl(167, 40%, 24%);
}

.soft-red {
  color: hsl(7, 99%, 70%);
}

.yellow {
  color: hsl(51, 100%, 49%);
}

.dark-blue {
  color: hsl(198, 62%, 26%);
}

.dark-moderate-cyan {
  color: hsl(168, 34%, 41%);
}

.white {
  color: white;
}

.hidden {
  display: none;
}

/* // neutral // */
.very-dark-desaturated-blue {
  color: hsl(212, 27%, 19%);
}

.very-dark-grayish-blue {
  color: hsl(213, 9%, 39%);
}

.dark-grayish-blue {
  color: hsl(232, 10%, 55%);
}

.grayish-blue {
  color: hsl(210, 4%, 67%);
}

/* // styling begins // */

body {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.picture-of-orange {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  background: url(/Sunnyside-Agency/images/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-area {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
}

.sunnyside-header {
  font-size: 1.5rem;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  /* display: none; */
}

.hamburger-menu-button {
  width: 1.5rem;
  height: 1rem;
  background: none;
  border: none;
}

.hamburger-menu-icon {
  width: 100%;
  height: 100%;
}

.nav-links {
  display: none;
}

.creatives-area {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* // come back to this // */
}

.creatives-text {
  height: 30%;
  text-align: center;
  font-size: 2.25rem;
  letter-spacing: 0.75rem;
  color: white;
}

.creatives-button-area {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.arrow-down {
  border: none;
  background: none;
}

/* // popup menu styling // */
.popup-menu-area {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup-menu {
  width: 80%;
  height: 90%;
  margin-top: 40px;
  background: white;
}

.nav-links-mobile {
  width: 100%;
  height: 100%;
}

.nav-links-mobile ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.nav-links-mobile ul li {
  height: 3rem;
  width: 7rem;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links-mobile ul li a {
  text-decoration: none;
  font-size: 1.25rem;
}

.contact-mobile {
  background-color: yellow;
}

#services {
  width: 100%;
}

.egg-picture {
  height: 40vh;
  background: url(/Sunnyside-Agency/images/mobile/image-transform.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.transform-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: #fffbf8;
}

.transform-header {
  padding: 0px 20px;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 20px;
}

.transform-main-text {
  text-align: center;
  font-size: 1rem;
  padding: 0px 20px;
  padding-bottom: 20px;
}

.learn-more {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.pink-cup {
  width: 100%;
  height: 40vh;
  background: url(/Sunnyside-Agency/images/mobile/image-stand-out.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.stand-out-text {
  width: 100%;
  height: 50vh;
  background: #fffbf8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stand-out-header {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.stand-out-main-text {
  font-size: 1rem;
  text-align: center;
  padding: 0px 20px;
  padding-bottom: 20px;
}

/* // skills section // */

.graphic-design {
  width: 100%;
  height: 90vh;
  background: url(/Sunnyside-Agency/images/mobile/image-graphic-design.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.graphic-design-text-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.graphic-design-header {
  font-size: 1.75rem;
}

.graphic-design-main-text {
  padding-top: 20px;
  font-size: 1rem;
  text-align: center;
}

.photography {
  width: 100%;
  height: 90vh;
  background: url(/Sunnyside-Agency/images/mobile/image-photography.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.photography-text-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photography-header {
  font-size: 1.75rem;
}

.photography-main-text {
  padding-top: 20px;
  font-size: 1rem;
  text-align: center;
}

/* // testimonials aside // */
#testimonials {
  width: 100%;
  height: 140vh;
  background: #fffbf8;
}

.testimonials-header {
  width: 100%;
  height: 10%;
  letter-spacing: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-content {
  width: 100%;
  height: 90%;
}

.emily {
  width: 100%;
  height: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-picture {
  width: 5rem;
  border-radius: 50px;
}

.testimonial-main-text {
  padding: 20px 20px;
  text-align: center;
  font-size: 1rem;
}

.name-and-occupation {
  text-align: center;
  line-height: 1.5rem;
}
.thomas {
  width: 100%;
  height: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jennie {
  width: 100%;
  height: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* // small devices (landscape phones) // */
@media (min-width: 567.98px) {
  .picture-of-orange {
    height: 100vh;
    background-position: 25% 65%;
  }

  .nav-area {
    height: 25%;
  }

  .sunnyside-header {
    margin-left: 50px;
  }

  .button-area {
    margin-right: 50px;
  }

  .hamburger-menu-button {
    width: 2rem;
    height: 1.25rem;
    background: none;
    border: none;
  }

  .egg-picture {
    height: 100vh;
  }

  .transform-text {
    height: 100vh;
  }

  .pink-cup {
    height: 100vh;
  }

  .stand-out-text {
    height: 100vh;
  }

  .graphic-design {
    height: 100vh;
  }
  .photography {
    height: 100vh;
  }

  .testimonials-header {
    align-items: end;
  }
  .testimonials-content {
    height: 250vh;
  }

  .testimonial-main-text {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* // medium devices (tablets) // */
@media (min-width: 767.98px) {
  .picture-of-orange {
    height: 60vh;
  }

  .sunnyside-header {
    font-size: 2rem;
  }

  .hamburger-menu-button {
    width: 2.5rem;
    height: 1.5rem;
  }

  .creatives-text {
    font-size: 3.5rem;
    letter-spacing: 1.5rem;
  }

  .sunnyside-header {
    font-size: 1.25rem;
  }

  .nav-links-mobile ul li {
    height: 4rem;
    width: 9rem;
  }

  .nav-links-mobile ul li a {
    font-size: 1.75rem;
  }

  .egg-picture {
    height: 40vh;
  }

  .transform-text {
    height: 50vh;
  }

  .transform-header {
    font-size: 3rem;
  }

  .transform-main-text {
    font-size: 1.75rem;
    padding: 30px 10%;
    /* padding-bottom: 30px; */
  }

  .learn-more {
    font-size: 1.5rem;
  }
  .pink-cup {
    height: 40vh;
  }

  .stand-out-text {
    height: 50vh;
  }

  .stand-out-header {
    font-size: 3rem;
  }

  .stand-out-main-text {
    font-size: 1.75rem;
    padding: 30px 5%;
    padding-bottom: 30px;
  }

  .graphic-design {
    background: url(/Sunnyside-Agency/images/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .photography {
    background: url(/Sunnyside-Agency/images/desktop/image-photography.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .graphic-design-header {
    font-size: 3rem;
    padding-bottom: 20px;
  }

  .graphic-design-main-text {
    font-size: 1.75rem;
    padding: 0 10%;
  }

  .photography-header {
    font-size: 3rem;
    padding-bottom: 20px;
  }

  .photography-main-text {
    font-size: 1.75rem;
    padding: 0 10%;
  }

  .testimonials-content {
    height: 150vh;
  }

  .testimonials-header {
    /* align-items: center; */
    font-size: 2rem;
  }

  .testimonial-picture {
    width: 10rem;
    border-radius: 75px;
  }

  .testimonial-main-text {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  .name-and-occupation {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

/* // large devices (laptops, desktops) // */
@media (min-width: 991.98px) {
  .picture-of-orange {
    background: url(/Sunnyside-Agency/images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
  }
  .button-area {
    display: none;
  }

  .sunnyside-header {
    font-size: 1.5rem;
  }

  /* // when nav links first appear // */
  .nav-links {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    height: 100%;
    width: 60%;
  }

  .nav-links ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
  }

  .nav-links ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 20%;
    height: 100%;
  }

  .nav-links ul li a {
    text-decoration: none;
    font-size: 1.25rem;
  }

  .nav-links ul li:hover {
    background: #6ecffe;
    color: white;
    transition: all 0.2s ease;
  }

  .contact {
    background-color: white;
  }

  .contact-link {
    color: black;
  }

  .creatives-text {
    letter-spacing: 0.75rem;
  }

  .transform {
    display: flex;
    width: 100%;
    height: 60vh;
  }

  .egg-picture {
    background: url(/Sunnyside-Agency/images/desktop/image-transform.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 60vh;
    order: 1;
  }

  .transform-text {
    width: 50%;
    height: 50vh;
  }

  .transform-header {
    font-size: 2.25rem;
    padding: 0 0;
    width: 80%;
    text-align: left;
  }

  .transform-main-text {
    font-size: 1.25rem;
    width: 80%;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
  }

  .learn-more {
    font-size: 1.25rem;
    width: 80%;
    text-align: left;
  }

  .pink-cup {
    width: 50%;
    height: 60vh;
    background: url(/Sunnyside-Agency/images/desktop/image-stand-out.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .stand-out {
    width: 100%;
    height: 60vh;
    display: flex;
  }

  .stand-out-text {
    width: 50%;
    height: 50vh;
  }

  .stand-out-header {
    width: 80%;
    text-align: left;
    font-size: 2rem;
    padding: 0 0;
  }

  .stand-out-main-text {
    font-size: 1.25rem;
    width: 80%;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
  }

  .skills {
    display: flex;
  }

  .graphic-design {
    width: 50%;
    height: 60vh;
  }

  .photography {
    width: 50%;
    height: 60vh;
  }

  .graphic-design-header {
    font-size: 2rem;
  }

  .graphic-design-main-text {
    font-size: 1.25rem;
  }
  .photography-header {
    font-size: 2rem;
  }

  .photography-main-text {
    font-size: 1.25rem;
  }

  .emily {
    height: 100%;
  }
  .thomas {
    height: 100%;
  }
  .jennie {
    height: 100%;
  }

  #testimonials {
    height: 90vh;
  }

  .testimonials-header {
    height: 15%;
    letter-spacing: 1rem;
  }
  .testimonials-content {
    display: flex;
    height: 85%;
  }

  .testimonial-picture {
    width: 8rem;
  }

  .testimonial-main-text {
    font-size: 1.25rem;
    padding-bottom: 50px;
  }
}

/* // extra large devices (desktops) // */
@media (min-width: 1199.98px) {
  .picture-of-orange {
    height: 80vh;
  }

  .nav-links {
    font-size: 1.25rem;
    width: 40%;
  }

  .transform-header {
    padding-bottom: 20px;
    width: 80%;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }

  .transform-main-text {
    font-size: 1.25rem;
    width: 80%;
    padding: 0 0;
    text-align: left;
  }

  .learn-more {
    width: 80%;
    text-align: left;
    padding-top: 30px;
  }

  .stand-out-header {
    padding: 0 0;
  }

  .stand-out-main-text {
    width: 80%;
    text-align: left;
    padding: 20px 0;
  }
}

/* // special screen styles // */

/* // larger landscape devices (orientation: landscape makes it so the styles only apply if the width is greater than the height) // */
@media (min-device-width: 800px) and (max-device-width: 915.98px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .picture-of-orange {
    height: 100vh;
  }

  .sunnyside-header {
    font-size: 1.75rem;
  }

  .hamburger-menu-button {
    width: 2rem;
    height: 1.25rem;
  }

  .creatives-text {
    font-size: 2.25rem;
  }

  .egg-picture {
    height: 100vh;
  }

  .transform-text {
    height: 100vh;
  }

  .transform-header {
    font-size: 2.5rem;
  }

  .transform-main-text {
    font-size: 1.5rem;
  }

  .pink-cup {
    height: 100vh;
  }

  .stand-out-text {
    height: 100vh;
  }

  .stand-out-header {
    font-size: 2.5rem;
  }

  .stand-out-main-text {
    font-size: 1.5rem;
  }

  .graphic-design {
    height: 100vh;
  }
  .photography {
    height: 100vh;
  }
}

/* // really small devices (portrait mode) // */
@media (width: 320px) and (orientation: portrait) {
  .creatives-text {
    font-size: 2rem;
  }

  .creatives-button-area {
    padding-top: 30px;
  }

  .transform-main-text {
    padding-bottom: 10px;
  }

  .transform-header {
    padding-bottom: 10px;
  }

  .testimonials-content {
    height: 150vh;
  }
}
